<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ .Site.Params.description }}">

    <script src="/bootstrap-5.1.3/bootstrap.bundle.min.js" async defer="defer"></script>

    <link rel="stylesheet" href="/bootstrap-dark-5@1.1.3/bootstrap-dark.min.css" type="text/css" >
    <link rel="stylesheet" href="/bootstrap-icons-1.8.0/bootstrap-icons.css" type="text/css" >

    <link rel="shortcut icon" href="/baralga_48.png" >


    {{ $title := print .Site.Title " | " .Title -}}
    
    {{ if .Params.canonicalUrl -}}
    <link rel="canonical" href="{{ .Params.canonicalUrl }}">
    {{ else }}
    <link rel="canonical" href="{{ .Permalink }}">
    {{ end -}}

    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    <meta name="twitter:creator" content="{{ .Site.Params.twitter }}" />

    <title>{{ $title }}</title>
</head>