<!--
<nav id="nav">
    {{ $currentPage := . -}}
    {{ range .Site.Menus.main -}}
    <a class="{{ if or ($currentPage.IsMenuCurrent " main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{ end }}"
        href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
    {{ end -}}
</nav>
-->
<nav class="container-fluid flex-wrap flex-md-nowrap navbar navbar-expand-lg navbar-light bg-dark">
    <!--
    <a
        class="navbar-brand p-0 me-2" href="/"><img src="/baralga_48.png"></a>
        <button class="navbar-toggler"
        type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"><span
            class="navbar-toggler-icon"></span></button>
    -->
    <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav pt-2 py-md-0">
            <li class="nav-item col-6 col-md-auto"><a class="nav-link active" href="#section-features">Features</a></li>
            <!--
            <li class="nav-item col-6 col-md-auto"><a class="nav-link active" href="#section-download">Download</a></li>
            -->
        </ul>
        <hr class="d-md-none text-white-50">
        <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
            <li class="nav-item col-6 col-md-auto"><a class="nav-link active" href="https://baralga-app.tack.dev">
                <i class="bi-box-arrow-right me-2"></i>Sign in</a>
            </li>
        </ul>
    </div>
</nav>